.card-body-1 {
  background-image: linear-gradient(rgba(245, 135, 52, 0) 14.45%, rgba(245, 135, 52, 0.8) 162.01%);
  /* background-image: linear-gradient(rgb(30 64 249 / 13%) 14.45%, rgba(245, 135, 52, 0.8) 162.01%); */
}
.card-body-2 {
  /* background-image: linear-gradient(rgba(245, 135, 52, 0) 14.45%, rgba(245, 135, 52, 0.8) 162.01%); */
  background-image: linear-gradient(rgb(30 64 249 / 13%) 14.45%, rgba(245, 135, 52, 0.8) 162.01%);
}

.liner-animation:hover {
  -webkit-animation: spin 9s linear infinite;
  animation: spin 9s linear infinite;
}

.card-img-fixed {
  width: 100%;
  height: 40lvh;
  /* object-fit: cover; */
}

@media (max-width: 600px) {
  /* md */
  .card-img-fixed {
    width: 100%;
    height: 60lvh;
  }
}


@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


