  .btn-floating:hover {
      transform: scale(1.1);
      transition: transform 0.3s ease-in-out;
  }

  .floating-icon-side {
      height: 55px;
      width: 55px;
  }


  .call-button {
      position: block;
      background-color: #28a745;
      color: #fff;
      font-size: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      animation: shake-phone 1.2s infinite;
  }

  .call-button i {
      z-index: 2;
      position: relative;
  }

  /* The animated ring(s) */
  .call-button::before,
  .call-button::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80px;
      height: 80px;
      border: 1px solid #ff7010;
      border-radius: 50%;
      transform: translate(-50%, -50%) scale(0.7);
      opacity: 0;
      animation: phone-circle-animate 1.8s infinite;
  }

  .call-button::after {
      animation-delay: 0.9s;
      /* second wave */
  }


  /* ============ Animations ============ */
  @keyframes phone-circle-animate {
      0% {
          transform: translate(-50%, -50%) rotate(0deg) scale(0.7);
          opacity: 0.4;
      }

      50% {
          opacity: 0.6;
      }

      100% {
          transform: translate(-50%, -50%) rotate(360deg) scale(1.5);
          opacity: 0;
      }
  }

  @keyframes shake-phone {
      0% {
          transform: rotate(0);
      }

      5% {
          transform: rotate(15deg);
      }

      10% {
          transform: rotate(-15deg);
      }

      15% {
          transform: rotate(15deg);
      }

      20% {
          transform: rotate(-15deg);
      }

      25% {
          transform: rotate(10deg);
      }

      30% {
          transform: rotate(-10deg);
      }

      35% {
          transform: rotate(5deg);
      }

      40% {
          transform: rotate(-5deg);
      }

      45% {
          transform: rotate(0);
      }

      100% {
          transform: rotate(0);
      }
  }