  .btn-floating:hover {
      transform: scale(1.1);
      transition: transform 0.3s ease-in-out;
  }

  .floating-icon-side {
      height: 55px;
      width: 55px;
  }


  .call-button {
      position: fixed;
      /* bottom: 25px; */
      /* left: 25px; */
      /* width: 60px; */
      /* height: 60px; */
      background-color: #28a745;
      /* border-radius: 50%; */
      color: #fff;
      font-size: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      /* z-index: 999; */
      animation: shake-phone 2s infinite;
  }

  .call-button i {
      z-index: 2;
      position: relative;
  }

  /* The animated ring(s) */
  .call-button::before,
  .call-button::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100px;
      height: 100px;
      background: rgba(40, 167, 69, 0.4);
      border-radius: 50%;
      transform: translate(-50%, -50%) scale(0.7);
      opacity: 0;
      animation: phone-circle-animate 1.8s infinite;
  }

  .call-button::after {
      animation-delay: 0.9s;
      /* second wave */
  }

  /* ============ Animations ============ */
  @keyframes phone-circle-animate {
      0% {
          transform: translate(-50%, -50%) rotate(0deg) scale(0.7);
          opacity: 0.4;
      }

      50% {
          opacity: 0.6;
      }

      100% {
          transform: translate(-50%, -50%) rotate(360deg) scale(1.5);
          opacity: 0;
      }
  }