  .dropdown-menu.custom-width {
    left: -209px;
    width: 50lvw !important;
    padding-left: 20px;
    top: 65px;
    border-radius: 0px 30px;
  }

  /* 
  .header {
    position: fixed;
    width: 1905px;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 0px;
  } */

  .font-bold {
    font-weight: 600;
    /* font-size: 15px; */
  }

  .straper-bg-img {
    max-height: 28lvh;
    position: relative;
    color: #fff;
    overflow: hidden;
  }


  .straper-title {
    font-size: 3rem !important;
    color: white !important;
  }

  .straper-img {
    object-fit: scale-down !important;
    filter: brightness(10);
  }


  @media (max-width: 585px) {

    .dropdown-menu.custom-width {
      width: 100% !important;
    }

    .straper-img {
      width: 5rem !important;
    }

    .straper-title {
      font-size: 50px !important;
    }

  }


  .navbar-drop-items {
    height: 70px;
    width: 100%;
  }

  .navbar-drop-items a img {
    height: 5lvh;
  }


  @media (min-width: 500px) and (max-width:985px) {


    .dropdown-menu.custom-width {
      width: 100% !important;
    }

    .straper-title {
      font-size: 2rem !important;
    }

  }

  @media (max-width: 499px) {

    .hover-shadow-lg:hover {
      border-bottom: 0px !important;
    }

    .straper-title {
      font-size: 1.5rem !important;

    }

  }



  /* ================================================== */
  .image-aboutus-banner {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("/assets/carousel/carousel-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 110px;
    padding-bottom: 110px;
  }



  
.menu {
    display: flex;
    list-style: none;
    position: relative;
}

.menu li {
    text-decoration: none;
    letter-spacing: 1px;
    position: relative;
    padding: 10px 0;
}

/* Elastic underline */
.menu li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0%;
    height: 3px;
    background: #ffc107;
    transition:
        width 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55),
        left 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.menu a:hover::after {
    width: 100%;
    left: 0;
}