  .dropdown-menu.custom-width {
    left: -209px;
    width: 50lvw !important;
    padding-left: 20px;
    top: 65px;
    border-radius: 0px 30px;
  }

  /* 
  .header {
    position: fixed;
    width: 1905px;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 0px;
  } */

  .font-bold {
    font-weight: 600;
    /* font-size: 15px; */
  }

  .straper-bg-img {
    max-height: 28lvh;
    position: relative;
    color: #fff;
    overflow: hidden;
  }


  .straper-title {
    font-size: 3rem !important;
    color: white !important;
  }

  .straper-img {
    object-fit: scale-down !important;
    filter: brightness(10);
  }


  @media (max-width: 585px) {

    .dropdown-menu.custom-width {
      width: 100% !important;
    }

    .straper-img {
      width: 5rem !important;
    }

    .straper-title {
      font-size: 50px !important;
    }

  }


  .navbar-drop-items {
    height: 70px;
    width: 100%;
  }

  .navbar-drop-items a img {
    height: 5lvh;
  }


  @media (min-width: 500px) and (max-width:985px) {


    .dropdown-menu.custom-width {
      width: 100% !important;
    }

    .straper-title {
      font-size: 2rem !important;
    }

  }

  @media (max-width: 499px) {

    .hover-shadow-lg:hover {
      border-bottom: 0px !important;
    }

    .straper-title {
      font-size: 1.5rem !important;

    }

  }