.it-hero-3-title {
    margin-bottom: 15px;
    color: #5b204b !important;
    font-family: "Raleway";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
}

.it-hero-3-title-box-p {
    line-height: 32px;
    margin-bottom: 35px;
    font-size: 24px;
    font-style: normal;
    color: #777789 !important;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
}