@media only screen and (min-width: 576px) and (max-width: 767px) {
    .gm-hero-area .it-hero-3-ptb {
        padding-bottom: 0;
    }
}

@media (max-width: 767px) {
    .gm-hero-area .it-hero-3-ptb {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .it-hero-3-title {
        font-size: 40px;
        line-height: 44px;
    }
}

@media (max-width: 767px) {}

@media (max-width: 767px) {
    .it-hero-3-title {
        font-family: 'Raleway', sans-serif !important;
        font-size: 32px;
        line-height: 45px;
    }

    .it-hero-3-title-box {
        font-size: 32px;
        line-height: 45px;
    }

    .it-hero-3-title-p {
        font-size: 16px !important;
    }
}

.it-hero-3-title-p {
    line-height: 32px;
    margin-bottom: 35px;
    font-size: 24px;
    font-style: normal;
    color: #777789 !important;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
}

/*.it-hero-3-title {
    margin-bottom: 15px;
    color: #5b204b !important;
    font-family: "Raleway";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
} */